body {
  background-color: aqua;
}
/* 一级标题居中 */
h1 {
  text-align: center;
}
/* 二级标题居中 */
h2 {
  text-align: center;
}

/* 三级标题缩进 3ch */
h3 {
  margin-left: 3ch;
}

/* 四级标题缩进 6ch */
h4 {
  margin-left: 6ch !important;
}

/* 五级标题缩进 9ch */
h5 {
  margin-left: 9ch;
}
